*{
  box-sizing: border-box;
}
body{
  margin:0;
  color:#926239;
}
.main-header{
  background-image: url(https://traversymedia.com/downloads/assets/beachshowcase.jpg);
  height: 100vh;
  align-items: center;
  text-align: center;
  background-position: center center;
  padding: 0px 20px;
  background-size:cover;
  background-position:center;
  line-height: 65px;
}
.h1-header{
  font-size:300px;
  font-weight: bold;
  padding-top: 1500px;
}
.text{
  line-height: 120px;
  font-size:100px;
}
.main-text{
  font-size: 100px;
  padding-top: 150px;
}
.main-button:hover{
  background-color: #926239;
  color: white;
}
.main-button{
  font-size:130px;
  text-decoration:none;
  color:#926239;
  border:#926239 1px solid;
  padding:15px 20px;
  border-radius:50px;
  margin-top:70px;
  background-color: Transparent;
}
.main{
  line-height: 45px;
}
.article1{
  text-align: center;
  background:#926239;
  color: white;
  padding: 20px;
}
.article2{
  padding: 20px;
  text-align: center;
}
.section_blocks{
  text-align: left;
  display: flex;
}
.block1_and_3{
  padding: 40px;
  background: #926239;
  color: white;
}
.block2{
  padding: 40px;
}
